<section id="testimonials" class="py-16">
  <div class="bg-blue-100 p-6 rounded-lg shadow text-center">
      <h2 class="text-3xl font-bold text-gray-800">Харилцагчдын сэтгэгдэл</h2>
      <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="bg-gradient-to-r from-purple-400 to-pink-500 p-6 rounded-lg shadow text-white">
          <p>"Хүлээлтээс давсан маш сайн үйлчилгээ байлаа!"</p>
          <p class="mt-4 font-bold">- Бат-Эрдэнэ</p>
        </div>
        <div class="bg-gradient-to-r from-purple-400 to-pink-500 p-6 rounded-lg shadow text-white">
          <p>"Тээврийн үйлчилгээндээ үнэхээр сэтгэл хангалуун байна!"</p>
          <p class="mt-4 font-bold">- Эрдэнэ-Бат</p>
        </div>                
        <div class="bg-gradient-to-r from-purple-400 to-pink-500 p-6 rounded-lg shadow text-white">
          <p>"Жолооч найрсаг, үйлчилгээ тав тухтай байсан!"</p>
          <p class="mt-4 font-bold">- Бат-Баяр</p>
        </div>   
        <div class="bg-gradient-to-r from-purple-400 to-pink-500 p-6 rounded-lg shadow text-white">
          <p>"Тээврийн үйлчилгээ ерөнхийдөө сайн, гэхдээ бага зэрэг сайжруулах зүйлс байж болох юм."</p>
          <p class="mt-4 font-bold">- Бат-Өлзий</p>
        </div>   
        <div class="bg-gradient-to-r from-purple-400 to-pink-500 p-6 rounded-lg shadow text-white">
          <p>"Тохиромжтой үнээр боломжийн үйлчилгээ үзүүлсэнд баярлалаа."</p>
          <p class="mt-4 font-bold">- Мөнх-Эрдэнэ</p>
        </div>   
        <div class="bg-gradient-to-r from-purple-400 to-pink-500 p-6 rounded-lg shadow text-white">
          <p>"Тээврийн үйлчилгээ нь яг цагтаа, ая тухтай байлаа. Маш их баярлалаа!"</p>
          <p class="mt-4 font-bold">- Ган-Эрдэнэ</p>
        </div>   
        <div class="bg-gradient-to-r from-purple-400 to-pink-500 p-6 rounded-lg shadow text-white">
          <p>"Хурдан, найдвартай үйлчилгээтэйд маш их баярлалаа!"</p>
          <p class="mt-4 font-bold">- Эрдэнэ</p>
        </div>   
        <div class="bg-gradient-to-r from-purple-400 to-pink-500 p-6 rounded-lg shadow text-white">
          <p>"Үйлчилгээний чанар маш сайн байлаа, дахин үйлчлүүлэхдээ таатай байх болно!"</p>
          <p class="mt-4 font-bold">- Мандал</p>
        </div>    
      </div>
    </div>
  </section>
  